.bg-dashboardpage{
  background: url('../../assets/todo.jpg') no-repeat center center;
  background-size: cover;
  min-height: 90vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.bg-dashboardpage-sm{
  background: url('../../assets/todo.jpg') no-repeat center center;
  background-size: cover;
  min-height: 90vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}



@media (min-width: 992px) { /* lg and up */
  .bg-dashboardpage-sm {
    background: none !important;
  }
}
