<div class="p-0 p-lg-5" style="background-color: #eee">
  <div
    class="row g-0 col-12 col-lg-10 col-md-12 mx-auto"
    style="background-color: white; border-radius: 10px"
  >
    <div class="d-flex align-items-center col-lg-6 p-4 bg-dashboardpage-sm">
      <div class="d-flex flex-column w-100 dashboardHeight">
        <div class="d-flex justify-content-center m-4">
          <h1>Flexy Tasks</h1>
        </div>

        <div
          class="d-flex flex-column justify-content-center text-center pt-1 mb-5 pb-1 h-75"
        >
          <app-taskcontainer id="taskContainer"></app-taskcontainer>
          <div class="d-flex justify-content-center p-2">
            <button
              id="logout"
              class="btn btn-primary btn-block fa-lg mb-3 active w-75"
              (click)="logout()"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-6 d-flex align-items-center gradient-custom-2 d-none d-lg-flex bg-dashboardpage"
    ></div>
  </div>
</div>
