.bg-resetpassword {
  background: url('../../assets/resetpassword.jpg') no-repeat center center;
  background-size: cover;
  min-height: 90vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Only apply bg-resetpassword on small screens */
.bg-resetpassword-sm {
  background: url('../../assets/resetpassword.jpg') no-repeat center center;
  background-size: cover;
  min-height: 90vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

  .resetpasswordHeight{
  height: 100vh;
}


@media (min-width: 992px) { /* lg and up */
  .bg-resetpassword-sm {
    background: none !important;
  }

  .resetpasswordHeight{
  height: auto;
}
}
