<div
  class="p-0 p-lg-5"
  style="background-color: #eee; border: '4px solid white'"
>
  <div
    class="row g-0 col-12 col-lg-10 col-md-12 mx-auto resetpasswordHeight"
    style="background-color: white; border-radius: 10px"
  >
    <div class="d-flex align-items-center col-lg-6 p-4 bg-resetpassword-sm">
      <div class="d-flex flex-column w-100 resetpasswordHeight">
        <div class="d-flex justify-content-center m-4">
          <h1>Flexy Tasks</h1>
        </div>
        <form id="loginForm" #loginForm="ngForm" (ngSubmit)="updatePassword()">
          <div class="d-flex justify-content-center p-2">
            <input
              type="password"
              name="password"
              id="passwordInput"
              class="form-control w-75"
              required
              placeholder="Enter new password"
              [(ngModel)]="password"
              (ngModelChange)="error = ''"
              #passwordInput="ngModel"
            />
          </div>

          <div class="d-flex justify-content-center p-2">
            <input
              type="password"
              name="confirmedpassword"
              id="confirmedpasswordInput"
              class="form-control w-75"
              required
              placeholder="Confirm new password"
              [(ngModel)]="confirmedpassword"
              (ngModelChange)="error = ''"
              #confirmedpasswordInput="ngModel"
            />
          </div>

          <div
            class="d-flex flex-column justify-content-center text-center pt-1 pb-1"
          >
            <div class="d-flex justify-content-center p-2">
              <button
                class="btn btn-primary btn-block fa-lg mb-3 active w-75"
                [disabled]="password !== confirmedpassword"
                type="submit"
                id="submit"
              >
                Update password
              </button>
            </div>
            <div
              [hidden]="!this.error"
              id="errorMessage"
              class="alert alert-danger"
            >
              {{ error }}
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      class="col-lg-6 d-flex align-items-center gradient-custom-2 d-none d-lg-flex bg-resetpassword"
    ></div>
  </div>
</div>
